{% extends "manager/common/base.html" %}
{% load staticfiles %}

{% block main_css %}
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="{% static 'assets/css/fonts/linecons/css/linecons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fonts/fontawesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-core.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-forms.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-components.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-skins.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.css' %}">
    <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/semantic.css' %}">
	<link href="{% static 'sweetalert/sweet-alert.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'sweetalert/ie9.css' %}" rel="stylesheet" media="screen">

	<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'alertifyjs/alertify.min.js' %}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}


{% block body %}
{% include "manager/common/settings.html" %}

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		{% include "manager/common/sideMenu.html" %}

		<div class="main-content">

            {% include "manager/common/topNav.html" %}
			<div class="page-title">

				<div class="title-env">
					<h1 class="title">Subjects List</h1>
				</div>

					<div class="breadcrumb-env">
                        <ol class="breadcrumb bc-1" >
                            <li>
                                <a href="/manager/"><i class="fa-home"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="/manager/schools/">Schools</a>
                            </li>
                            <li>
                                <a href="/manager/schoolCourses/{{ schoolId }}/">Courses</a>
                            </li>
                            <li class="active">
                                <a href="">Subjects</a>
                            </li>
                        </ol>
				</div>

			</div>

			<div class="row">

				<div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:;" data-toggle="modal" data-target="#addNewSubject" class="btn btn-success btn-lg pull-left">
                                <i class="fa fa-plus"></i>
                                Add New Subject
                            </a>
                        </div>
                    </div>
					<div class="row">
						<form role="form" method="GET" action="">
							<input type="search" name="key" class="form-control input-lg" placeholder="Write Key Words to Search ...." />
						</form>
						<hr />
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr>
										<th>ICON</th>
										<th>SUBJECT NAME</th>
										<th>YEAR</th>
										<th>ACADEMIC YEAR</th>
										<th>COURSES</th>
										<th>STATUS</th>
										<th>Settings</th>
									</tr>
								</thead>
								<tbody>
								{% load endless %}
								{% paginate subjects %}
                                {% for subject in subjects %}
									<tr>
										<td class="user-image">
											<a href="javascript:;">
												<img avatar="{{ subject.name }}" class="img-circle" />
											</a>
										</td>
										<td class="user-name">
                                            <span>{{ subject.name }} ({{ subject.code }})</span>
										</td>
										<td>
											<span>{{ subject.year.name }}</span>
										</td>
										<td>
											<span>{{ subject.academic.name }}</span>
										</td>
										<td>
                                            {{ subject.course.name }}
										</td>
										<td>
                                            {% if subject.is_active %}
                                                <span class="badge badge-success">Active</span>
                                            {% else %}
                                                <span class="badge badge-danger">InActive</span>
                                            {% endif %}
										</td>
										<td style="width:185px;">
                                            {% if subject.is_active %}
                                                <a href="/manager/courseSubjectsActivator/deactivate/{{ subject.id }}/" class="delete">
                                                    <i class="fa fa-lock"></i>
                                                    Lock
                                                </a>&nbsp;
                                            {% else %}
                                                <a href="/manager/courseSubjectsActivator/activate/{{ subject.id }}/" class="edit">
                                                    <i class="fa fa-unlock"></i>
                                                    Unlock
                                                </a>&nbsp;
                                            {% endif %}

											<a href="javascript:;" data-id="{{ subject.id }}" class="delete deleteSubject">
												<i class="linecons-trash"></i>
												Delete
											</a>&nbsp;

											<a href="javascript:;" data-id="{{ subject.id }}" data-toggle="modal" data-target="#editSubject" class="edit editSubjectLink">
												<i class="fa fa-edit"></i>
												Edit
											</a>
										</td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>

							<div class="row">
									<div class="col-md-12">
										{% get_pages %}
										<center>
											<ul class="pagination">
												<li>{{ pages.previous }}</li>
												{% for page in pages %}
												<li class="{% if page.is_current %} active  {% endif %}">
													<a href="{{ page.path }}">{{ page.number }}</a>
												</li>
												{% endfor %}
												<li>{{ pages.next }}</li>
											</ul>
										</center>
									</div>
								</div>

						</div>
					</div>

				</div>

			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			{% include "manager/common/footer.html" %}
		</div>

		<div id="ajaxLoader"></div>


		{% include "manager/common/groups.html" %}

	</div>


    <div class="modal fade custom-width" id="addNewSubject">
		<div class="modal-dialog" style="width: 95%;">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">New Subject Registration</h4>
				</div>

				<div class="modal-body clearfix">
                    <div class="col-md-6">
						<form role="form" action="/manager/courseSubjects/{{ courseId }}/" method="POST" id="addNewSubject">
							<div class="form-group">
								<input type="text" name="course" class="form-control hidden" id="course" value="{{ courseId }}" required />
							</div>
							<div id="formContainer">
								<div class="form-group">
									<label>Subject Name</label>
									<input type="text" name="subject" class="form-control" required />
								</div>

								<div class="form-group">
									<label>Subject Code</label>
									<input type="text" name="code" class="form-control" required />
								</div>
							</div>

								<div class="form-group">
									<label>Year</label>
									<select name="year" class="form-control" required>
										<option value="">Please Select ...</option>
										{% for year in years %}
											<option value="{{ year.id }}">{{ year.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<label>Academic Year</label>
									<select name="academic" class="form-control" required>
										<option value="">Please Select ...</option>
										{% for academic in academics %}
											<option value="{{ academic.id }}">{{ academic.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<center>
										<button type="submit" class="btn btn-success btn-lg">ADD</button>
									</center>
								</div>
						</form>
					</div>
					<div class="col-md-6">
						<center>
							<h3>Check similar Subject</h3>
							<form role="form" action="/manager/searchRelatedSubject/" method="POST" id="searchRelatedForm">
								<div class="form-group">
									<input type="text" class="form-control" name="search" placeholder="Code or Name of Subject..." required />
								</div>
							</form>
						</center>
						<div id="searchContent" class="clearfix" style="max-height:300px;overflow-x:auto;"></div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade custom-width" id="editSubject">
		<div class="modal-dialog" style="width: 60%;">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit Subject Details</h4>
				</div>

				<div class="modal-body" id="editSubjectFormContainer">

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block scripts %}
<script>
       $("#searchRelatedForm").submit(function(e)
        {
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    $("#searchContent").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    alertify.error('Something Went Wrong Try agian....');
                }
            });
            e.preventDefault(); //STOP default action
        });
    $(".editSubjectLink").on('click', function(){
    	var id = $(this).data('id');
    	$("#editSubjectFormContainer").load("/manager/editSubject/"+id+"/");
    });
	$(".deleteSubject").on('click', function(){
           var id = $(this).data("id");
            swal({
                 title: "Are you sure?",
                 text: "Subject will be Deleted",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#DD6B55",
                 confirmButtonText: "Yes, delete it!",
                 closeOnConfirm: true
            },
            function(isConfirm){
            	if(isConfirm){
                	window.location ='/manager/deleteCourseSubjects/'+id+'/';
                }else{
                	alertify.success("Successfully Cancelled");
                }
            });
        });

        function loadSubjectForm(subjectId){
        	$("#formContainer").load("/manager/loadRelatedSubjectContent/"+subjectId+"/");
        }
</script>
{% endblock %}