<div id="chat" class="fixed"><!-- start: Chat Section -->
	<div class="chat-inner">
		<h2 class="chat-header">
			<a  href="#" class="chat-close" data-toggle="chat">
				<i class="fa-plus-circle rotate-45deg"></i>
			</a>
			Members
		</h2>

		<div class="row" style="margin-top:10px;">
			<div class="col-md-10 col-md-offset-1" id="members">
				{% for member in members %}
				{% if member.user.profile.display != '' %}
				<a href="#" data-toggle="tooltip" data-placement="right"
				   title="{% for group in member.user.groups.all %} {{ group}}.{% endfor %}">
					{% if user.profile.photo == None %}
						<img src="/static/images/user.jpg" class="img-circle" width="35" />
					{% else %}
						<img src="/static/{{ user.profile.photo }}" class="img-circle" width="35" />
					{% endif %}
					<span>{{ member.user.profile.display }}</span>
				</a><hr />
				{% else %}
				<a href="#" data-toggle="tooltip" data-placement="right"
				   title="{% for group in member.user.groups.all %} {{ group}},{% endfor %}">
					{% if user.profile.photo == None %}
						<img src="/static/images/user.jpg" class="img-circle" width="35" />
					{% else %}
						<img src="/static/{{ user.profile.photo }}" class="img-circle" width="35" />
					{% endif %}
					<span>{{ member.user.username }}</span>
				</a><hr />
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
		</div>
	</div>
	<!-- end: Chat Section -->
</div>