<div id="chat" class="fixed"><!-- start: Chat Section -->
	<div class="chat-inner">
		<h2 class="chat-header">
			<a  href="#" class="chat-close" data-toggle="chat">
				<i class="fa-plus-circle rotate-45deg"></i>
			</a>
			Members
		</h2>
		<div class="chat-group">
			<div class="panel panel-default panel-tabs"><!-- Add class "collapsed" to minimize the panel -->
				<div class="panel-heading">
					<div class="panel-options">

					</div>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane active" id="members">
							{% for member in members %}
								{% if member.user.profile.display != '' %}
									<a href="#" data-toggle="tooltip" data-placement="top"
									   title="{% for group in member.user.groups.all %} {{ group}} {% endfor %}">
										<img src="/static/images/user.jpg" class="img img-circle" width="35" />
										<span>{{ member.user.profile.display }}</span>
									</a><hr />
								{% else %}
									<a href="#" data-toggle="tooltip" data-placement="top"
									   title="{{ member.user.groups.all }}">
										<img src="/static/images/user.jpg" class="img img-circle" width="35" />
										<span>{{ member.user.username }}</span>
									</a><hr />
								{% endif %}
							{% endfor %}
						</div>
						<div class="tab-pane" id="groups">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
	</div>
	<!-- end: Chat Section -->
</div>