{% load endless %}

{% if totalPost <= 0 %}
    <div class="sorted" id="tiles">
        <div style="font-size: 20px; color:#999;text-align: center;margin-top:60px;">
            You have no articles yet...click the button below to create one
        </div>
    </div>
{% else %}
    {% for post in posts %}
        <div class="card col m6">
						<div style="height: 60px;padding: 15px" class="gre">
							<div class="left item-avatar one-line">
								{% if user.profile.photo == None %}
                                    <img src="/static/images/dp.jpg" class="circle" width="35" />
                                {% else %}
                                    <img src="/static/{{ user.profile.photo }}" class="circle" width="35" />
                                {% endif %}
								<p>{{ post.user.profile.display }}</p>
							</div>
						</div>
						<div class="card-content">
                            {{ post.description|truncatewords:50 }}
						</div>
						<div class="card-image">
                            {% for image in post.post_images|slice:'1' %}
							    <img src="/static/{{ image.url }}" class="" style1="height: 220px">
                            {% endfor %}
						</div>
						<div class="card-action" style="paddin: 0;padding-right:0">
							<!-- <div class="righ" style="margin-bottom: 10px"> -->
								<a class="btn-flat grey-text btn-fav" style="padding: 0 5px;overflow: visible;position: relative;" href="#">
									<i class="zmdi zmdi-favorite-outline {{ post.faved }}" style="font-size:39px"></i>
									<span class="grey-text text-darken-4" style="top:5px;right:-8px">{{ post.recommend }}</span>
								</a>
								<a class="btn-flat grey-text" style="padding: 0 5px;overflow: visible;position: relative;" href="#">
									<i class="zmdi zmdi-comment-alt-text"></i>
									<span class="a-badge blue">{{ post.comments }}</span>
								</a>
							<!-- </div> -->
						</div>
					</div>
    {% endfor %}
{% endif %}




