{% load endless %}
<div class="sorted">
    {% paginate posts %}
    {% if totalPost > 0 %}
    {% for post in posts %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-color panel-info">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="col-md-2 col-sm-2 text-left">
                    <img src="/static/images/user.jpg" class="img img-circle img-responsive"/>
                    {{ post.user.profile.display }}
                </div>
                <div class="col-md-10 col-sm-10 text-right">
                    <div class="panel-title">
                        {{ post.subject.course }}<br>
                        {{ post.subject }}<br>
                        <span class="badge">{{ post.updated }}</span>
                    </div>
                </div>
            </div>
            <!-- panel body -->
            <a href="/app/reader/{{ post.id }}/">
                <div class="panel-body">
                    <div>
                        <p>
                            {{ post.description|safe|truncatewords:50 }}
                        </p>
                    </div>
                    <div id="image_{{ post.id }}">

                    </div>
                    <!--- Javascript for Loading the images -->
                    <script>
                    $(document).ready(function(){
                         $("#image_"+{{ post.id }}).load("/app/imageAjaxLoader/{{ post.id }}/");
                    });
                    </script>
                </div>
            </a>
            <div class=""><hr />
                <a href="javascript:;" onclick="recommend({{ post.id }});" data-toggle="tooltip" data-placement="top" title="Likes" class="btn btn-icon btn-green btn-xs">
                    <i class="fa-thumbs-o-up">&nbsp;&nbsp;
                        <span id="recomment_{{ post.id }}">{{ post.recommend }}</span>
                    </i>
                </a>
                <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Comments" class="btn btn-icon btn-green btn-xs">
                    <i class="fa fa-comments">&nbsp;&nbsp;
                        <span>{{ post.comments }}</span>
                    </i>
                </a>
                <a href="/app/reader/{{ post.id }}/" data-toggle="tooltip" data-placement="top" title="Open" class="btn btn-icon btn-green btn-xs pull-right">
                    <i class="fa fa-folder-open-o">&nbsp;&nbsp;Open</i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info">
            <center>
                <h3>There is no Article Posted on this Subject.....</h3>
            </center>
        </div>
    </div>
    {% endif %}
    <div class="col-md-8 col-md-offset-2">
        {% get_pages %}
        <center>
            <ul class="pagination">
                <li>{{ pages.previous }}</li>
                {% for page in pages %}
                <li class="{% if page.is_current %} active  {% endif %}">
                    <a href="{{ page.path }}">{{ page.number }}</a>
                </li>
                {% endfor %}
                <li>{{ pages.next }}</li>
            </ul>
        </center>
    </div>
</div>
