{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "meta.html" %}

	<title>ScholarNet - Institutes</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
	<link rel="stylesheet" href="{% static 'assets/css/fonts/linecons/css/linecons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fonts/fontawesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-core.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-forms.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-components.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-skins.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
<body class="page-body">

	{% include "home/settings.html" %}

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		{% include "home/sidemenu.html" %}

		<div class="main-content">

			{% include "home/topnav.html" %}

			<div class="row">

				<div class="col-md-12">

					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#all" data-toggle="tab">All Institutes</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr>
										<th></th>
										<th>NAME</th>
										<th>SHORT NAME</th>
										<th>ACTIONS</th>
									</tr>
								</thead>
								<tbody>
									{% for institute in institutes %}
										<tr>
											<td class="user-cb">
												<input type="checkbox" class="cbr" name="members-list[]" value="1" checked />
											</td>
											<td>
												<span>{{ institute.name }}</span>
											</td>
											<td>
												{{ institute.code }}
											</td>
											<td class="">
												{% if institute.is_active %}
													<a href="" data-toggle="tooltip" data-placement="top" title="Lock User">
														<i class="fa fa-lock"></i> Lock
													</a>
												{% else %}
													<a href="" data-toggle="tooltip" data-placement="top" title="Un-Lock User">
														<i class="fa fa-unlock"></i> Un-lock
													</a>
												{% endif %}
												<a href="#" class="delete" data-toggle="tooltip" data-placement="top" title="Delete User">
													<i class="linecons-trash"></i>
													Delete
												</a>
												<a href="/app/registerCourse/{{ institute.id }}/" data-toggle="tooltip" data-placement="top" title="Add New Course of Study to {{ institute.name }}" class="btn btn-xs btn-info">
													<i class="fa fa-plus"></i>
													Courses
												</a>
												<a href="/app/coursesList/{{ institute.id }}/" data-toggle="tooltip" data-placement="top" title="List of {{ institute.name }} Courses" class="btn btn-success btn-xs">
													<i class="fa fa-list"></i>
													View Courses
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

							<div class="row">
								<div class="col-sm-6">

									<div class="members-table-actions">
										<div class="selected-items">
											<span>2</span>
											members selected
										</div>

										<div class="selected-actions">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Lock Selected Users">
                                                <i class="fa fa-lock"></i>
                                                Lock
                                            </a>

                                            <a href="" data-toggle="tooltip" data- data-placement="top" title="Un-lock Selected users">
                                                <i class="fa fa-unlock"></i>
                                                Un-Lock
                                            </a>
											<a href="#" class="delete" data-toggle="tooltip" data-placement="top" title="Delete Selected Users">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
										</div>
									</div>

								</div>
								<div class="col-sm-6 text-right text-center-sm">
									<ul class="pagination pagination-sm no-margin">
										<li>
											<a href="#">
												<i class="fa-angle-left"></i>
											</a>
										</li>
										<li class="active">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li class="disabled">
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">5</a>
										</li>
										<li>
											<a href="#">6</a>
										</li>
										<li>
											<a href="#">
												<i class="fa-angle-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			{% include "footer.html" %}
		</div>


		{% include "home/chat_side.html" %}

	</div>



	<!-- Bottom Scripts -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
	<script src="{% static 'assets/js/resizeable.js' %}"></script>
	<script src="{% static 'assets/js/joinable.js' %}"></script>
	<script src="{% static 'assets/js/xenon-api.js' %}"></script>
	<script src="{% static 'assets/js/xenon-toggles.js' %}"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="{% static 'assets/js/xenon-custom.js' %}"></script>

</body>
</html>