<style>
	#left-menu .collection-item.active{
		background: rgba(158,158,158,0.14) !important;
	}
</style>
<ul class="collection no-borders">
	<li class="collection-item grey-text text-darken-1 active">
		<a href="/app/home/">
			<i class="zmdi zmdi-home"></i>
			<span class="title">Home</span>
		</a>
	</li>
	<a href="/app/home/" class="collection-item grey-text text-darken-1">
		<i class="zmdi zmdi-collection-item"></i>
		<span class="title">Subjects</span>
	</a>
	<!-- <hr class="separator">
	{% for subject in subjects %}
		<a href="/app/subjectReader/{{ subject.id }}/" style="margin-left: 50px" class="collection-item grey-text text-darken-1 left-align">
			{{ subject.name|truncatewords:3 }}
		</a>
		<hr class="separator" style="margin: 1px">
	{% endfor %} -->
</ul>