{% extends "base.html" %}
{% load staticfiles %}
	{% block body %}
	<style>
		.a-box{
			cursor: pointer;
			width: 33%;
			color: #888;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
		}
		.a-box > .header{
			padding:10px;
			height: 120px;
			/*background: #9c27b0;*/
			color:#fff;
		}
		.a-box > .card-content{
			padding: 12px 5px;
		}
	</style>

		<div class="page-container re" style="margin-top: -20px;position: relative;top:0;left: 12%; width: 88%; padding: 20px 40px">
			<div class="grey-text a-divider">Universities / Colleges</div>
			<div clas="layout-flex">
				{% if linkers|length != 0 %}
					{% for link in linkers %}
						<div class="card a-box">
							<div class="header layout-flex v-end purple">
								<p>{{link.school}}</p>
							</div>
							<div class="card-content">
								<!--<br>-->
								<a href="javascript:void(0);" class="grey-text" style="padding:1px 10px;">FOLLOW</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="layout-flex center-center grey-text text-darken-1" style="height: 60px; font-size: 17px">
						There are no schools right now. Check back later
					</div>
				{% endif %}
			</div>

			<div class="grey-text a-divider">Courses</div>
			<div clas="layout-flex">
				{% if subjects|length != 0 %}
					{% for subject in subjects|slice:":6" %}
					<div class="card a-box" style="width: 32%; display: inline-block">
						<div class="header layout-flex v-end {{subject.color.name}}">
							<p class="{% if subject.color.isLight %}black-text{% else %}white-text{% endif %}">
								{{subject}}
							</p>
						</div>
						<div class="card-content">
							<!--<br>-->
							<a href="javascript:void(0);" class="grey-text" style="padding:1px 10px;">FOLLOW</a>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<div class="layout-flex center-center grey-text text-darken-1" style="height: 60px; font-size: 17px">
						There are no courses right now. Check back later.
					</div>
				{% endif %}
			</div>

			<div class="grey-text a-divider">Users</div>
			<div clas="layout-flex">
				{% if fusers|length != 0 %}
					{% for fu in fusers %}
						<div class="card a-box" style="width: 32%; display: inline-block">
							<div class="header ad-bg layout-flex v-end">
								<div class="layout-flex v-center">
									<img class="circle" style="width: 35px; height: 35px;" src="{{fu.profile.get_photo}}" data-adaptive-background alt="">
									<p class="{% if fus.profile.color.isLight %}black-text{% else %}white-text{% endif %}" style="margin-left: 5px;">{{fu.profile.display}}</p>
								</div>
							</div>
							<div class="card-content">
								<!--<br>-->
								<a href="javascript:void(0);" class="grey-text" style="padding:1px 10px;">FOLLOW</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="layout-flex center-center grey-text text-darken-1" style="height: 60px; font-size: 20px">
						You have no subjects
					</div>
				{% endif %}
			</div>
		</div>
		<div class="layout-flex" style="background: black; position: fixed;top:0;left:0;">

		</div>
		<script>
			$('.a-box').on("click", function(){
				openAModal();
			});

//			function openAModal(){
//				$('amodal').css();
//			}
		</script>
	{% endblock %}
