<style>
	.shadow-1dp{
		box-shadow:0 1px 1px 0 rgba(0,0,0,.2);
	}
</style>


<div class="grey-text" style="display: flex;align-items: center"><h6>Timetable</h6> <a href="javascript:void(0);" style="margin-left: auto">view full</a></div>
<a href="javascript:void(0);">
	<div class="white shadow-1dp" style="margin-top: 15px; padding: 10px; display: flex; align-items: center;">
		<span class="deep-purple grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;">L</span>
		<p style="margin: 0 10px;overflow: hidden;white-space: nowrap; text-overflow:ellipsis">Lorem ipsum dolor sit a</p>
		<span style="margin-left: auto" class="grey-text">8am</span>
	</div>
</a>
<a href="javascript:void(0);">
	<div class="white shadow-1dp" style="margin-top: 10px; padding: 10px; display: flex; align-items: center;">
		<span class="light-blue grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;">M</span>
		<p style="margin-left: 10px;">Math</p>
		<span style="margin-left: auto" class="grey-text">11am</span>
	</div>
</a>
<a href="javascript:void(0);">
	<div class="white shadow-1dp" style="margin-top: 10px; padding: 10px; display: flex; align-items: center;">
		<span class="light-blue grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;">D</span>
		<p style="margin-left: 10px;">Development Studies</p>
		<span style="margin-left: auto" class="grey-text">3pm</span>
	</div>
</a>
<br>
<div class="grey-text" style="display: flex;align-items: center"><h6>Tasks</h6> <a href="javascript:void(0);" style="margin-left: auto">see all</a></div>
<div class="white shadow-1dp" style="margin-top: 15px; padding: 10px; display: flex; align-items: center;">
	<span class="red grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;"></span>
	<p style="margin: 0 10px;overflow: hidden;white-space: nowrap; text-overflow:ellipsis">Create an OS</p>
	<a class="btn-flat grey-text" style="margin-left: auto; padding: 0 5px; height: 30px;display: flex;align-items: center;"><i class="zmdi zmdi-delete"></i></a>
</div>
<div class="white shadow-1dp" style="margin-top: 15px; padding: 10px; display: flex; align-items: center;">
	<span class="orange grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;"></span>
	<p style="margin: 0 10px;overflow: hidden;white-space: nowrap; text-overflow:ellipsis">Web programming project</p>
	<a class="btn-flat grey-text" style="margin-left: auto; padding: 0 5px; height: 30px;display: flex;align-items: center;"><i class="zmdi zmdi-delete"></i></a>
</div>
<br>
<div class="grey-text" style="display: flex;align-items: center"><h6>Suggested Tasks</h6> <a href="javascript:void(0);" style="margin-left: auto">see all</a></div>
<div class="white shadow-1dp" style="margin-top: 15px; padding: 10px; display: flex; align-items: center;">
	<span class="green grey-text text-lighten-5 circle" style="width: 35px;height: 35px;line-height: 35px;text-align: center;"></span>
	<p style="margin: 0 10px;overflow: hidden;white-space: nowrap; text-overflow:ellipsis">C. Skills Assignment</p>
	<a class="btn-flat grey-text" style="margin-left: auto; padding: 0 5px; height: 30px;display: flex;align-items: center;">ADD</a>
</div>