{% extends "base-outside.html" %}
{% load endless %}

{% block body %}
<div class="row" style="position: absolute;height: 100%;width:100%;padding: 0;margin: 0;padding-top: 140px">
    <div class="col l6 m6 layout-flex center-center" style="height: calc(100% - 80px); border-right:1px solid #bdbdbd;">
        <div class="grey-text text-lighten-1 layout-flex as-column center-center" style="margin: auto;height: 300px; width: 300px; border-radius: 50%; border:3px solid #e1e1e1">
            <span hidden id="stepsCompleted">{{user.profile.config_state}}</span>
            <span id="percentCompleted" style="font-size: 50px"></span><span style="font-size: 20px">complete</span>
        </div>

    </div>

    <div class="col l6 m6" style="height: calc(100% - 50px);">
        <div class="config-field col m10 offset-m1 layout-flex v-center h-center as-column" style="height:calc(100% - 30px);padding-bottom: 20px;display: {% if user.profile.config_state == 0 %} block {% else %} none {% endif %}">
            <h2 class="section-head flow-text grey-text text-darken-2">Account activation</h2>
            <p class="grey-text" style="font-size: 18px">
                Enter the code number sent in the sms. <br>
                Didn't receive the code? <a href="javascript:void(0);" style="padding-left:5px;padding-right:5px;" class="btn-flat blue-text" onclick="regenerateCode()">Resend</a>
            </p>
            <br>
            <div class="col m12 input-field">
                <input type="text" name="username" id="accVerifyCode" autocomplete="off" required />
                <label for="username">Activation code</label>
            </div>

            <div style="margin-top: 30px" class="col m12">
                <button type="button" class="btn blue waves-effect waves-light right" onclick="verifyAcc()">
                    ACTIVATE
                </button>
            </div>
        </div>

        <div class="config-field col m10 offset-m1 layout-flex center-center as-column" style="height:100%;padding-bottom: 20px;display: {% if user.profile.config_state == 1 %} block {% else %} none {% endif %}">
            <h2 class="section-head flow-text grey-text text-darken-2">Education</h2>
            <br>
            <form id="academicForm" action="/app/setup/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col m12">
                        <select require onchange="updateCourseSelections(this.value)" name="chuo">
                            <option value="" disabled selected>Choose your option</option>

                            {% for chuo in vyuo %}
                                <option value="{{chuo.id}}">{{chuo.name}} ({{chuo.code}})</option>
                            {% endfor %}
                        </select>
                        <label>Institution</label>
                    </div>

                    <div class="input-fiel col m12">
                        <label>Course</label>
                        <select require id="courseList" class="non-convertable" name="course">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m6">
                        <select require name="academic">
                            <option value="" disabled selected>Choose your option</option>
                            {% for year in academicYears %}
                            <option value="{{year.id}}">{{year.name}} / {{year.name|add:1}}</option>
                            {% endfor %}
                        </select>
                        <label>Academic year</label>
                    </div>

                    <div class="input-field col m6">
                        <select require name="year">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label>Year of study</label>
                    </div>
                </div>

                <div style="margin-top: 30px" class="col m12">
                    <button type="submit" class="btn blue waves-effect waves-light right">
                        SAVE
                    </button>
                </div>
            </form>
        </div>

        <div class="config-field col m10 offset-m1 layout-flex v-center h-center as-column" style="height:calc(100% - 30px);padding-bottom: 20px;display: {% if user.profile.config_state == 2 %} block {% else %} none {% endif %}">
            <form id="profileFor" action="/app/profileSetup/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="section-head flow-text grey-text text-darken-2">Profile</h2>

                <div class="col m12 layout-flex v-center" style="height: 200px">
                    <img id="dp-placeholder" style="width: 200px;height: 180px" src="/static/images/dp.jpg">
                    &emsp;&emsp;
                    <input type="file" name="pic" onchange="setDp(this)">
                </div>
                <div class="col m12 input-field" style="margin-top: 30px;">
                    <input required type="text" name="display" id="username" autocomplete="off" required />
                    <label for="username">Display name</label>
                </div>

                <div style="margin-top: 30px" class="col m12">
                    <button type="submit" class="btn blue waves-effect waves-light right">
                        SAVE CHANGES
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        updatePercentCompleted();
    });

    function setDp(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.querySelector('#dp-placeholder').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function regenerateCode(){
        var url = '/app/verificationCodeRegenerate/';
        var resendCodeToastId = createToast("Resending code....", false);

        $.ajax({
            url: url,
            type: 'GET'
        })
        .done(function(data) {
            var data = JSON.parse(data)[0];
            console.log("success. with data", data);

            setTimeout(function(){
                createToast(data.message, true);
            },300);
        })
        .fail(function(error) {
            console.log("error returned is", error);

            setTimeout(function(){
                createToast("Error occured", true, 2000);
            },300);
        })
        .always(function() {
            hideToast(resendCodeToastId, 300, true);
            console.log("Action complete!");
        });
    }

    function verifyAcc(){
        var verifyCodeToastId = createToast("Verifying code....", false);
        var verificationCode = $('#accVerifyCode').val();
        var url = '/app/accountVerify/?code='+verificationCode;

        $.ajax({
            url: url,
            type: 'GET'
        })
        .done(function(data) {
            var data = JSON.parse(data)[0];
            console.log("success. with data", data);

            if(data.status){
                setTimeout(function(){
                    createToast(data.message, true);

                    switchToConfig(1);
                },300);
            }else{
                createToast("Wrong code, try again");
            }
        })
        .fail(function(error) {
            console.log("error returned is", error);

            setTimeout(function(){
                createToast("Error occured", true, 2000);
            },300);
        })
        .always(function() {
            hideToast(verifyCodeToastId, 300, true);
            console.log("Action complete!");
        });
    }

    function updateCourseSelections(id){
        var fetchCourseListToastId = createToast("Fetching courses....", false);
        var url = '/app/setupCourseList/?id='+id;

        $.ajax({
            url: url,
            type: 'GET'
        })
        .done(function(data) {
            var data = JSON.parse(data);
            var chooseSomething = '<option value="" disabled selected>Choose your option</option>';
            $('#courseList').html(chooseSomething);

            for(var i = 0; i < data.length; i++){
                var course = data[i];
                var option = '<option value="' + course.id + '">' + course.name + '(' + course.code +')</option>';
                $('#courseList').append(option);
            }

            console.log("success. with data", data);
        })
        .fail(function(error) {
            console.log("error returned is", error);

            setTimeout(function(){
                createToast("Error occured", true, 2000);
            },300);
        })
        .always(function() {
            hideToast(fetchCourseListToastId, 300, true);
            console.log("Action complete!");
        });
    }

    $('#profileForm').on('submit', function(e){
        e.preventDefault();
        var data = $(this).serialize();
        var url = $(this).attr('action');

        var setupAcademyToastId = createToast("Saving changes....", false);

        $.ajax({
            url: url,
            type: 'POST',
            data: data
        })
        .done(function(data) {
            var data = JSON.parse(data)[0];

            if(data.status)
            {
                setTimeout(function(){
                    createToast("Profile updated");
                },300);

                switchToConfig(2);
            }else{
                setTimeout(function(){
                    createToast("Profile not updated");
                },300);
            }

            console.log("success. with data", data);
        })
        .fail(function(error) {
            console.log("error returned is", error);

            setTimeout(function(){
                createToast("Error occured");
            },300);
        })
        .always(function() {
            hideToast(setupAcademyToastId, 300, true);
            console.log("Action complete!");
        });
    });


    $('#academicForm').on('submit', function(e){
        e.preventDefault();
        var data = $(this).serialize();
        var url = $(this).attr('action');

        if(validateAcademicForm()){
            var setupAcademyToastId = createToast("Saving changes....", false);

            $.ajax({
                url: url,
                type: 'POST',
                data: data
            })
            .done(function(data) {
                var data = JSON.parse(data)[0];

                if(data.status)
                {
                    setTimeout(function(){
                        createToast("Profile updated");
                    },300);

                    switchToConfig(2);
                }else{
                    setTimeout(function(){
                        createToast("Profile not updated");
                    },300);
                }

                console.log("success. with data", data);
            })
            .fail(function(error) {
                console.log("error returned is", error);

                setTimeout(function(){
                    createToast("Error occured");
                },300);
            })
            .always(function() {
                hideToast(setupAcademyToastId, 300, true);
                console.log("Action complete!");
            });
        }
    });

    function validateAcademicForm(){
        $('#academicForm select').each(function(){
            if(!$(this).val()){
                var name = $(this).closest('.col').find('label').text();

                createToast(name + " field is required");
                console.log($(this).val());
                return false;
            }
        });

        return true;
    }

    function switchToConfig(index){
        $('.config-field').each(function(){
            if($(this).index() == index){
                updatePercentCompleted(index);
                $(this).css({display : 'block'});
                TweenMax.from( $(this), 0.3, { opacity : 0, x : 100+'%' });
            }
            else{
                $(this).css({display : 'none'});
            }
        });
    }

    function updatePercentCompleted(newIdx = null){

        if(newIdx)
            var steps = parseFloat(newIdx);
        else
            var steps = parseFloat($('#stepsCompleted').text());

        var percent = steps / 3 * 100;
        $('#percentCompleted').text(percent.toFixed(0) + '%');
    }
</script>
{% endblock %}