{% extends "base.html" %}
{% load endless %}
{% block css %}
	<style>
		#selectedFiles img {
			max-width: 125px;
			max-height: 125px;
			float: left;
			margin-bottom:10px;
		}
	</style>
{% endblock %}

	{% block body %}
<!-- 		<div class="grid-sizer" style="width:60%"></div> -->
		<div class="row">
			<div class="col" style="width: 21%">&nbsp;</div>
			<div class="col m7 offset-m" style="margin-top: 75px">
				<div class="row" id="posts">
					{% include "home/entry_home_article_page.html" %}
				</div>
			</div>
			<div class="col" style="width: 3%">&nbsp;</div>

			<button onclick="newArticle()" style="position: fixed;bottom: 20px;right:22%" class="btn-floating btn-large pink"><i class="zmdi zmdi-edit"></i></button>
		</div>


		<div id="new-post" class="modal">
			<div style="height: 60px;padding: 15px" class="gre">
				<div class="left item-avatar one-line">
					<img src="/static/images/dp.jpg" class="circle" width="35" />
					<p>James Wolpert</p>
				</div>

				<div class="right">
					<a class="grey lighten-5 grey-text dropdown-button btn-flat" href="javascript:void:0;" data-activates="dropdown1" style="text-transform: none; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);">Choose subject</a>

					<!-- Dropdown Structure -->
					<ul id='dropdown1' class='dropdown-content grey lighten-5' style="max-height: 70%;overflow-x: hidden;">
						{% for subject in subjects %}
							<li>
								<a href="javascript:void(0);" style="font-size: 15px">
									<span class="title grey-text">{{ subject.name|truncatewords:3 }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
	        <div class="modal-content re" style="margin-top: 1px; height: calc(100% - 255px); padding: 5px">
	        	<textarea placeholder="Type article" name="" id="" cols="30" rows="10" style="height: 100%;backgroun: white;width: 100%;font-size: 17px; border: none;resize: none;"></textarea>
	        </div>
	        <div id="attachments">
	        	<span class="grey-text text-darken-1" style="font-size: 17px; padding-left: 5px">Attachments</span>

	        	<div class="gre lighten-1 attachment-container">
	        		<a href="javascript:void(0);" class="grey lighten-3 grey-text center-align attachment" style="line-height: 100px">
						ADD
					</a>
				</div>
	        </div>
	        <div style="height: 70px;width:100%;position: fixed;bottom: 0;left: 0">
	        	<hr class="separator">
		        <div class="right" style="padding-top: 8px">
		        	<a class="btn-flat waves-effect waves-blue">Cancel</a>
		    		<a class="btn-flat waves-effect waves-blue">Save</a>
		        </div>
	        </div>
	    </div>

	    <div id="contact-modal" class="modal">
	    	<div style="height: 60px;padding: 15px" class="gre">
		    	<div class="left item-avatar one-line">
					<img src="/static/images/dp.jpg" class="circle" width="35" />
					<p>James Wolpert</p>
				</div>
			</div>
			<div class="modal-content re" style="margin-top: 1px; height: calc(100% - 255px); padding: 5px">
	        	<textarea placeholder="Type your message" name="" id="" cols="30" rows="10" style="height: 100%;backgroun: white;width: 100%;font-size: 17px; border: none;resize: none;"></textarea>
	        </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-gree btn-flat">Send</a>
		    </div>
		</div>

	    <script>
	    	$(document).ready(function(){
	    		var $grid = $('#posts').masonry({
				  itemSelector: '.col',
				  percentPosition: true,
				});

	    		$('.collapsible').collapsible({
			      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
			    });
	    	});
	    	function newArticle(){
		        $('#new-post').openModal();
        	}

        	function sendFeedback(){
		        $('#contact-modal').openModal();
        	}
	    </script>
{% endblock %}