<div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:;" data-toggle="modal" data-target="#addNewSchool" class="btn btn-success btn-lg pull-left">
                                <i class="fa fa-plus"></i>
                                Add New School
                            </a>
                        </div>
                    </div>
					<div class="tab-content">
						<div class="tab-pane active" id="all">

							<table class="table table-hover members-table middle-align">
								<thead>
									<tr>
										<th>ICON</th>
										<th>SCHOOL NAME</th>
										<th>COURSES</th>
										<th>STATUS</th>
										<th>Settings</th>
									</tr>
								</thead>
								<tbody>
								{% load endless %}
								{% paginate schools %}
                                {% for school in schools %}
									<tr>
										<td class="user-image">
											<a href="javascript:;">
												<img avatar="{{ school.name }}" class="img-circle" />
											</a>
										</td>
										<td class="user-name">
                                            <span>{{ school.name }}</span>
										</td>
										<td>
											<a href="/manager/schoolCourses/{{ school.id }}/" data-toggle="tooltip" data-placement="top" title="Click to View School Courses" class="btn btn-primary">
												COURSES
											</a>
										</td>
										<td>
                                            {% if school.is_active %}
                                                <span class="badge badge-success">Active</span>
                                            {% else %}
                                                <span class="badge badge-danger">InActive</span>
                                            {% endif %}
										</td>
										<td>
                                            {% if school.is_active %}
                                                <a href="/manager/schoolsActivator/deactivate/{{ school.id }}/" class="delete">
                                                    <i class="fa fa-lock"></i>
                                                    Lock
                                                </a>
                                            {% else %}
                                                <a href="/manager/schoolsActivator/activate/{{ school.id }}/" class="edit">
                                                    <i class="fa fa-unlock"></i>
                                                    Unlock
                                                </a>
                                            {% endif %}
											&nbsp;&nbsp;
											<a href="javascript:;" class="delete deleteSchool" data-id="{{ school.id }}">
												<i class="linecons-trash"></i>
												Delete
											</a>
											&nbsp;&nbsp;
											<a href="javascript:;" data-toggle="modal" data-target="#editSchool" class="edit editSchool" data-id="{{ school.id }}">
												<i class="fa fa-edit"></i>
												Edit
											</a>
										</td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>

							<div class="row">
									<div class="col-md-12">
										{% get_pages %}
										<center>
											<ul class="pagination">
												<li>{{ pages.previous }}</li>
												{% for page in pages %}
												<li class="{% if page.is_current %} active  {% endif %}">
													<a href="{{ page.path }}">{{ page.number }}</a>
												</li>
												{% endfor %}
												<li>{{ pages.next }}</li>
											</ul>
										</center>
									</div>
								</div>

						</div>
					</div>

				</div>