@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#content5-0 .caption h3 {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-size: 60px;
}
#content5-0 P {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

#content5-3 .caption h3 {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-size: 60px;
}
#content5-3 P {
  color: #fff;
  text-align: center;
  font-size: 25px;
}
