{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "meta.html" %}
</head>
{% block body %}
<body class="page-body login-light">
<div class="page-container">
    <div class="main-content">
		<div class="row">
			<div class="col-sm-8 hidden-xs hidden-md hidden-sm">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">
							<img src="/static/images/knowledgeShare.png" class="img img-circle" width="45"/>
							Knowledge Sharing
						</h4>
						<p class="list-group-item-text">
							<span class="pull-right">
								It is good to rub,
								and polish our brain against that of others.
							</span>
							<br />
						</p>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">
							<img src="/static/images/unityKnowledge.png" class="img img-circle" width="45" />
							The Unity of Knowledge
						</h4>
						<p class="list-group-item-text">
							<ul class="list-group list-group-minimal">
								<li class="list-group-item">
									“We are each other's harvest; we are each other's business; we are each other's magnitude and bond.”
								</li>
								<li class="list-group-item">
									"When we have unified enough knowledge, we will understand who we are and why we are here,"
								</li>

								<li class="list-group-item">
									"And so the great astrophysiscist Subrahmanyan Chandkraskhar could pay
									tribute to the spirit of his mentor, Sir Arthur Eddington,
									by saying: 'Let us see how high we can fly before the sun
									melts the wax in our wings,'"
								</li>
							</ul>
						</p>
					</a>
				</div>
			</div>
			 <div class="well col-sm-12 col-md-4 col-xs-12 pull-right">
				 <div class="row col-md-12 text-center">
					 <center>
						 <a href="javascript:;">
							 <img src="/static/images/snet.jpg" class="img img-circle img-responsive" />
						 </a>
					 </center>
				 </div>
					<form method="post" role="form" action="/login/" id="login" class="login-form fade-in-effect1">
						<center><h3>Login to ScholarNet</h3></center>
						<div>
							{% if messages %}
								{% for message in messages %}
									{% if message.tags == 'error' %}
										<div class="alert alert-danger">
											<center>
												<span style="font-size: 15px;">
													<i class="fa fa-warning"></i>
													{{ message }}
												</span>
											</center>
										</div>
									{% else %}
										<div class="alert alert-{{ message.tags }}">
											<center>
												<span style="font-size: 15px;">
													{{ message }}
												</span>
											</center>
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
						 </div>
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="linecons-mobile"></i>
								</span>
								<input type="text" class="form-control" name="username" id="username" placeholder="Phone-Number" autocomplete="off" required />
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="linecons-key"></i>
								</span>
								<input type="password" class="form-control" name="password" id="passwd" placeholder="Password" autocomplete="off" required />
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-green  btn-block text-left">
								<i class="fa-unlock"></i>
								Log In
							</button>
						</div>
						<div class="login-footer">
							<div class="col-sm-6">
								<a href="/app/register/" class="btn btn-gray">Sign Up</a>
							</div>
							<div class="col-sm-6">
								<a href="/user/password/reset/" class="btn btn-gray">Forgot your password?</a>
							</div>
							<div>
								<br><br>
							</div>
						</div>
					</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<center>
					<div class="">
						<span style="font-size: 20px;">
							<span style="color:#3fbcec;">
								"Share your knowledge.
							It is a way to achieve Immortality."
							</span>
							<i>
								<span style="color:red;">
									Dalai Lama XIV
								</span>
							</i>
						</span><br /><br />
					</div>
				</center>
			</div>
		</div>
	</div>
</div>
</body>

{% endblock %}
</html>
