{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "meta.html" %}
</head>
{% block body %}
    <body style="background: #f9f9f9">
        <div class="container">
            <div class="card" style="background:url({% static 'images/beautifulsea.jpg' %}); background-repeat: no-repeat; background-size: cover; margin: 60px auto;">
                <div class="card-content" style="padding: 0;margin:0;">
                    <div class="row" style="padding: 0;margin:0;background: rgba(0,0,0, 0.2);">
                        <div class="col m6 re" style="padding-top:3px;">
                            <div class="valign-wrapper" style="height: 500px">
                                <div class="valign grey-text text-lighten-3" style="padding: 20px; margin: auto">
                                    <img style="display: block; margin:auto" src="{% static 'images/snet.png' %}" alt="">
                                    <h3 class="center-align">
                                        Scholarnet
                                    </h3>
                                    <hr>
                                    <br><br>
                                    <p class="flow-text center">
                                        <em><q>Share your knowledge. It is a way to achieve Immortality.</q></em><br>
                                        <strong class="right">- Dalai Lama</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <style>
                            .a-form{
                                box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
                                position: absolute;top:0; left: 0;
                                margin: 15px;padding: 20px;
                                background: #fefefe;
                                /*display: none;*/
                            }
                        </style>
                        <div class="col m6 whit" style="padding:30px; position: relative;height: 503px;">
                            <div hidde class="a-form" style="display: block;padding-top:55px;padding-bottom:55px;margin: 30px 30px;z-index: 99">
                                <form method="post" role="form" action="/login/" id="login" class="center-align">
                                    <span class="card-title" style="color:#444; padding-left: 10px;">
                                        LOGIN
                                    </span>
                                    {% csrf_token %}
                                    <div class="col m12 input-field">
                                        <input type="text" name="username" id="username" autocomplete="off" required />
                                        <label for="username">Phone-Number</label>
                                    </div>
                                    <div class="col m12 input-field">
                                        <input type="password" class="form-control" name="password" id="passwd" autocomplete="off" required />
                                        <label for="passwd">Password</label>
                                    </div>
                                    <div class="col m12" style="margin: 15px 0; text-align: left;">
                                        <a href="/user/password/reset/">Forgot password?</a>
                                    </div>
                                    <div class="col m12">
                                        <button type="submit" class="btn blue waves-effect waves-light right">
                                            Log In
                                        </button>
                                    </div>
                                    <div class="col m12">
                                        <div class="input-field left-align">
                                            No account yet? <a onclick="switchForm('register')" href="javascript:void(0);" class="btn-flat blue-text waves-effect waves-blue" style="padding: 0 5px">Register.</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="a-form" hidde>
                                <form method="post" role="form" action="/app/register/"  class="center-align">
                                    {% csrf_token %}
                                    {% load widget_tweaks %}
                                    <span class="card-title" style="color:#444">
                                        REGISTER
                                    </span>
                                    <div class="col m12 input-field">
                                        <input type="text" name="username" required />
                                        <label>Phone Number</label>
                                    </div>
                                    <div class="col m12 input-field">
                                        <input type="password" name="password" required />
                                        <label>Password</label>
                                    </div>
                                    <div class="col m12 input-field">
                                        <input type="password" name="password1" class="form-control" required />
                                        <label>Confirm Password</label>
                                    </div>
                                    <div class="col m12 input-field" style="height: 65px">
                                        <span class="left-align" style="position: relative;left:-45px;top:10px;line-height: 25px; text-align: left;">Register as: </span>
                                        <span>
                                          <input class="with-gap" name="role" type="radio" id="student" />
                                          <label for="student">Student</label>
                                          &emsp;&emsp;
                                          <input class="with-gap" name="role" type="radio" id="lecturer" />
                                          <label for="lecturer">Lecturer</label>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <center>
                                            <div class="g-recaptcha" data-sitekey="6LdNwRwTAAAAABHKqJPjv1jDQbw8psVaBCvciiN1"></div>
                                        </center>
                                    </div>
                                    <div class="col m12" style="margin-top: 12px;margin-bottom: 10px;text-align: left;">
                                        <input id="termsAndConditions" type="checkbox" required>
                                        <label for="termsAndConditions">Terms and Conditions</label>
                                    </div>
                                    <div class="col m12">
                                        <!-- <a href="/login/" class="btn-flat">Back to Login</a> -->
                                        <button type="submit" class="btn blue right">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center class="blue-text" style="margin-top:-30px; font-size: 20px;">
            Copyright &copy; 2016 Scholarnet
        </center>
        <script>
            function switchForm(to){
                $('.a-form:first').fadeOut(400);
            }
        </script>
    </body>
{% endblock %}
</html>