{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>ScholarNet {{ title }}</title>
    {% include "meta.html" %}

  <!-- Material Design fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Material Design -->
  <link href="{% static 'material/dist/css/bootstrap-material-design.css' %}" rel="stylesheet">
  <link href="{% static 'material/dist/css/ripples.min.css' %}" rel="stylesheet">


  <!-- Dropdown.js -->
  <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

</head>
<body>

{% block body %}{% endblock %}




<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Material Design for Bootstrap -->
<script src="{% static 'material/dist/js/material.js' %}"></script>
<script src="{% static 'material/dist/js/ripples.min.js'%}"></script>
<script>
  $.material.init();
</script>


<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
  $("#dropdown-menu select").dropdown();
</script>
<!-- Sliders -->
<script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>